extends ../templates/_layout.pug

block variables 
  - var title = "Desafio 6"

block content 
  .grid.gap-2.px-2.min-h-full(class="lg:grid-cols-6")
    .space-y-4.order-2(class="lg:col-span-2 lg:order-1")
      h2 Chat
      #chatMessages.bg-base-300.h-full.max-h-screen.rounded.p-2.mx-4.space-y-2.overflow-y-auto
        each user in messages
          include ../templates/chatBox.pug
      include ../partials/postChat.pug
    .space-y-4(class="lg:col-span-4 lg:order-2")
      h2 Productos
      include ../partials/postProduct.pug
      include ../partials/table.pug