<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/metas.ejs") %>
  </head>
  <body class="h-screen">
    <%- include("./partials/navbar.ejs") %>
    <div class="container mx-auto flex justify-center items-center h-screen">
      <%- include("./partials/postForm.ejs") %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
  </body>
</html>
