form#postProduct.flex.flex-col.items-start.gap-4.p-4.card.shadow.bg-base-200(action="/productos" method="POST" enctype="multipart/form-data")
  .form-control
    label.input-group
      span Title
      input.input.input-bordered(type='text' name="title" required)
  .form-control
    label.input-group(for="price")
      span Price
      input.input.input-bordered(type='number' name="price" required)
  .form-control.cursor-pointer
    input(type='file' name="thumbnail" class="file:bg-neutral file:text-neutral-content file:font-bold file:border-none file:p-2 file:hover:bg-neutral-focus file:hover:cursor-pointer file:rounded-btn" )
  input.btn(type="submit")
