form#chatForm.space-y-2
  label.input-group
    span Email
    input.input.input-bordered(type='email' name="email" placeholder='Email address' autocomplete="email" required)
  input.input.input-bordered.w-full(type='text' name="message" placeholder='Type something...')
  input.btn(type="submit")
