{{!-- .rounded-lg.shadow-md.bg-white.max-w-sm.overflow-hidden
  img.block.object-cover.object-center(src=product.thumbnail alt=product.title)
  .flex.justify-between.items-baseline.p-6
    h5.text-gray-900.text-xl.font-medium.mb-2 #{product.title}
    p.text-blue-700.text-base.mb-4 $#{product.price} --}}

<div class="rounded-lg shadow-md bg-white max-w-sm overflow-hidden">
  <img src={{this.thumbnail}} alt={{this.title}} class="block object-cover object-center"></img>
  <div class="flex justify-between items-baseline p-6">
    <h5 class="text-gray-900 text-xl font-medium mb-2">{{this.title}}</h5>
    <p class="text-blue-700 text-base mb-4">{{this.price}}</p>
  </div>
</div>